<section class="profile">
  <header>
    <h3>Profile</h3>
  </header>

  <section class="profile-box">
    <div class="welcome-box">
      <div>
        <h3>Welcome to Wallet Recorder</h3>
        <p>Empower your financial journey</p>
        <button type="button">Explore</button>
      </div>
      <div>
        <img src="./assets/profile-vector.svg" alt="Profile Vector" />
      </div>
    </div>

    <div class="profile-pic-box">
      <div class="profile-pic grid-expand">
        <span class="material-symbols-outlined">{{
          profileList.length == 0 ? "face" : profileList[0].profilePic
        }}</span>
      </div>
      <div>
        <h3>
          {{
            profileForm.value.firstName == "" &&
            profileForm.value.lastName == ""
              ? userEmail.split("@")[0]
              : profileForm.value.firstName + " " + profileForm.value.lastName
          }}
        </h3>
        <p>{{ userEmail }}</p>
      </div>
    </div>
  </section>

  <form class="profile-fields" [formGroup]="profileForm">
    <div class="grid-expand">
      <h3>Change Avatar</h3>
      <div class="profile-faces">
        <div *ngFor="let data of profilePic">
          <label [for]="data">
            <span class="material-symbols-outlined"> {{ data }} </span>
          </label>
          <input
            type="radio"
            formControlName="profilePic"
            [value]="data"
            name="profilePic"
            [id]="data"
          />
        </div>
      </div>
    </div>
    <div class="profile-field-imp">
      <label for="firstName">First Name</label>
      <input
        type="text"
        formControlName="firstName"
        name="firstName"
        id="firstName"
      />
    </div>
    <div class="profile-field-imp">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        formControlName="lastName"
        name="lastName"
        id="lastName"
      />
    </div>
    <div class="profile-field-imp">
      <label for="userEmail">Email</label>
      <input
        formControlName="userEmail"
        type="email"
        name="userEmail"
        id="userEmail"
      />
    </div>
    <div class="gender-field">
      <div>
        <label for="genderMale">Male</label>
        <input
          formControlName="gender"
          type="radio"
          name="gender"
          id="genderMale"
          value="male"
        />
      </div>
      <div>
        <label for="genderFemale">Female</label>
        <input
          formControlName="gender"
          type="radio"
          name="gender"
          id="genderFemale"
          value="female"
        />
      </div>
    </div>
    <div class="profile-btn grid-expand">
      <button
        type="button"
        *ngIf="profileList.length == 0"
        (click)="updateAccount()"
      >
        Submit
      </button>
      <button
        type="button"
        *ngIf="profileList.length != 0"
        (click)="editProfileBtn()"
      >
        Update
      </button>
    </div>
  </form>
</section>
