<section class="login">
  <div class="set-01">
    <img src="./../../../assets/login.jpg" alt="Login Image" />
  </div>
  <div class="set-02">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h3>Login to your account</h3>
      <div>
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          placeholder="alex@gmail.com"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="Enter a Strong Pin"
        />
      </div>
      <button type="submit">Login</button>
      <button (click)="signinWithGoogle()" type="button">
        Login with Google
      </button>
      <p>Don't have an account? <a (click)="signupRoute()">Signup</a></p>
      <p>Forgot Password? <a (click)="forgotPassword()">Reset</a></p>
    </form>
  </div>
</section>
