.login {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 58rem;
  padding: 1.6rem;

  .set-01 {
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .set-02 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;

    h3 {
      font-size: 2.6rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      label {
        font-weight: 500;
      }

      button {
        border: 0.1rem solid #d8d8d8;
        height: 3.8rem;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        font-weight: 500;
      }

      p {
        text-align: center;
        font-size: 1.4rem;

        a {
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
}
