<section class="login">
  <div class="set-01">
    <img src="./../../../assets/login.jpg" alt="Login Image" />
  </div>
  <div class="set-02">
    <header>
      <h2><span class="material-symbols-outlined"> wallet </span> Walrec</h2>
    </header>
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
      <div>
        <h3>Forgot Password</h3>
        <small>Reset your password here</small>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" />
      </div>
      <button type="submit" class="login-btn">Send Link</button>
      <p class="or-txt">
        <span class="line"></span> Back to login <span class="line"></span>
      </p>
      <button type="button" (click)="loginRoute()">Login</button>
    </form>
  </div>
</section>
