.app-main-withNav {
  grid-template-columns: 11.8rem calc(100vw - 11.8rem);
}

.app-main-noNav {
  grid-template-columns: 100vw;
}

.app-main {
  background-color: var(--app-background);
  height: 100dvh;
  display: grid;

  .app-nav-box {
    height: 100%;
    padding: 1.4rem;

    .app-nav {
      border: 0.1rem solid var(--app-nav-border);
      background-color: var(--app-nav-background);
      display: grid;
      grid-template-rows: auto 1fr auto;
      padding: 1.4rem 0;
      border-radius: 1.4rem;
      height: 100%;

      .app-nav-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        text-align: center;
        padding: 0.6rem 0;

        img {
          width: 3.8rem;
        }
      }

      .app-nav-body {
        padding: 3.8rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.6rem;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.2rem;
          gap: 0.4rem;
          color: var(--app-inactive-font);
        }

        .active-nav-link {
          color: var(--app-active-font);
        }
      }

      .app-nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.6rem;
        padding: 1.4rem 0;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.4rem;
          gap: 0.8rem;
          cursor: pointer;
          color: var(--app-inactive-font);
        }

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          background-color: transparent;
          border: none;
          font-size: 1.4rem;
          gap: 0.8rem;
          cursor: pointer;
          color: var(--app-active-font);
        }

        .active-nav-link {
          color: var(--app-active-font);
        }
      }
    }
  }

  .app-body {
    overflow-y: auto;

    .app-body-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.8rem 2.2rem 0 0.6rem;

      h3 {
        font-size: 2rem;
        font-weight: 700;
      }

      input {
        border: 0.1rem solid var(--app-nav-border);
        width: 100%;
        max-width: 30rem;
        font-size: 1.4rem;
      }
    }

    .app-pop-icon {
      border: 0.1rem solid var(--app-theme-border-colour);
      background-color: var(--app-theme-background);
      position: fixed;
      bottom: 8rem;
      right: 1rem;
      width: 4.8rem;
      height: 4.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      border-radius: 10rem;
      cursor: pointer;

      .mat-mdc-menu-trigger {
        color: #2e3038 !important;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .app-main-withNav {
    grid-template-columns: 100vw !important;
    grid-template-rows: 18rem calc(1fr - 18rem) !important;
    gap: 0 !important;

    .app-body {
      height: calc(100dvh - 6.8rem) !important;
      grid-row-start: 1;
      padding: 1.8rem;
    }
  }

  .app-main-noNav {
    grid-template-columns: 100vw !important;

    .app-body {
      height: 100dvh !important;
      grid-row-start: 1;
      padding: 1.8rem;
    }
  }

  .app-nav-box {
    height: 6.8rem !important;
    padding: 0 !important;
    grid-row-start: 2;

    .app-nav {
      border: none !important;
      background-color: transparent !important;
      align-items: center !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      padding: 0 !important;
      border-radius: 1rem;
      height: 100% !important;

      .app-nav-head {
        display: none !important;
      }

      .app-nav-body {
        border: 0.1rem solid var(--app-theme-border-colour) !important;
        background-color: var(--app-theme-background) !important;
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        border-radius: 1.4rem 1.4rem 0 0;
        display: flex;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto;
        gap: 2.6rem;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0 !important;
          color: #a8943b !important;
        }

        .material-symbols-outlined {
          font-size: 2.6rem;
        }

        .nav-menu-name {
          font-size: 1rem !important;
          font-weight: 700 !important;
        }

        .active-nav-link {
          .nav-menu-name {
            color: rgb(51, 51, 51) !important;
          }

          .material-symbols-outlined {
            color: rgb(51, 51, 51) !important;
          }
        }
      }

      .app-nav-footer {
        display: none !important;
      }
    }
  }
}
