<main
  class="app-main"
  [ngClass]="isLoggedIn ? 'app-main-withNav' : 'app-main-noNav'"
>
  <section class="app-nav-box" *ngIf="isLoggedIn">
    <nav class="app-nav">
      <header class="app-nav-head">
        <h2>
          <span class="material-symbols-outlined">
            {{
              profileList.length == 0 ? "face" : profileList[0].profilePic
            }}</span
          >
        </h2>
        <div class="user-name">
          <p>
            {{
              profileList.length == 0
                ? userEmail.split("@")[0]
                : profileList[0].firstName + " " + profileList[0].lastName
            }}
          </p>
          <small [matTooltip]="userEmail" class="truncate-email">{{
            userEmail
          }}</small>
        </div>
      </header>
      <div class="app-nav-body">
        <a routerLink="dashboard" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> monitoring </span>
          <span class="nav-menu-name">Dashboard</span>
        </a>
        <a routerLink="expense" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> paid </span>
          <span class="nav-menu-name">Expenses</span>
        </a>
        <a routerLink="income" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined">
            account_balance_wallet
          </span>
          <span class="nav-menu-name">Income</span>
        </a>
        <a routerLink="budget" routerLinkActive="active-nav-link"
          ><span class="material-symbols-outlined"> calculate </span>
          <span class="nav-menu-name">Budgets</span></a
        >
        <a routerLink="report" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> lab_profile </span>
          <span class="nav-menu-name">Report</span>
        </a>
      </div>
      <footer class="app-nav-footer">
        <a routerLink="profile" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> face </span>
          Profile
        </a>
        <a (click)="colorModeFn()">
          <span class="material-symbols-outlined">
            {{ currentMode ? "nights_stay" : "brightness_5" }}
          </span>
          {{ currentMode ? "Dark Mode" : "Light Mode" }}
        </a>
        <button (click)="logout()">
          <span class="material-symbols-outlined"> logout </span>
          Logout
        </button>
      </footer>
    </nav>
  </section>

  <section class="app-body">
    <router-outlet></router-outlet>

    <div
      class="app-pop-icon"
      *ngIf="screenWidth < 870 && currentComponent != 'profile'"
    >
      <span class="material-symbols-outlined" routerLink="profile"
        >settings</span
      >
    </div>
  </section>
</main>
