<main
  class="app-main"
  [ngClass]="isLoggedIn ? 'app-main-withNav' : 'app-main-noNav'"
>
  <section class="app-nav-box" *ngIf="isLoggedIn">
    <nav class="app-nav">
      <header class="app-nav-head">
        <img src="./assets/app-icon.svg" alt="App Logo" />
      </header>
      <div class="app-nav-body">
        <a routerLink="dashboard" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> monitoring </span>
          <span class="nav-menu-name">Home</span>
        </a>
        <a routerLink="expense" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> paid </span>
          <span class="nav-menu-name">Expenses</span>
        </a>
        <a routerLink="income" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined">
            account_balance_wallet
          </span>
          <span class="nav-menu-name">Income</span>
        </a>
        <a routerLink="budget" routerLinkActive="active-nav-link"
          ><span class="material-symbols-outlined"> calculate </span>
          <span class="nav-menu-name">Budgets</span></a
        >
        <a routerLink="report" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> lab_profile </span>
          <span class="nav-menu-name">Report</span>
        </a>
      </div>
      <footer class="app-nav-footer">
        <a routerLink="profile" routerLinkActive="active-nav-link">
          <span class="material-symbols-outlined"> face </span>
        </a>
        <a (click)="colorModeFn()">
          <span class="material-symbols-outlined">
            {{ currentMode ? "nights_stay" : "brightness_5" }}
          </span>
        </a>
        <button (click)="logout()">
          <span class="material-symbols-outlined"> logout </span>
        </button>
      </footer>
    </nav>
  </section>

  <section class="app-body">
    <header
      class="app-body-header"
      *ngIf="currentComponent != 'profile' && currentComponent != 'login'"
    >
      <h3>👋 Hello {{ profileList[0].firstName }}</h3>
      <input type="search" placeholder="Search Record" />
    </header>

    <router-outlet></router-outlet>

    <div
      class="app-pop-icon"
      *ngIf="
        screenWidth < 870 &&
        currentComponent != 'profile' &&
        currentComponent != 'login'
      "
    >
      <span class="material-symbols-outlined" [matMenuTriggerFor]="menu">
        settings
      </span>
      <mat-menu #menu="matMenu" class="mat-menu-btns">
        <button mat-menu-item routerLink="profile">
          <span class="material-symbols-outlined">face</span> Profile
        </button>
        <button mat-menu-item (click)="colorModeFn()">
          <span class="material-symbols-outlined">
            {{ currentMode ? "nights_stay" : "brightness_5" }}
          </span>
          {{ currentMode ? "Dark Mode" : "Light Mode" }}
        </button>
        <button mat-menu-item (click)="logout()">
          <span class="material-symbols-outlined">logout</span> Logout
        </button>
      </mat-menu>
    </div>
  </section>
</main>
