.app-main-withNav {
  grid-template-columns: 25rem calc(100vw - 25rem);
}

.app-main-noNav {
  grid-template-columns: 100vw;
}

.app-main {
  background-color: var(--app-background);
  height: 100dvh;
  display: grid;

  .app-nav-box {
    height: 100%;
    padding: 1.4rem;

    .app-nav {
      border: 0.1rem solid var(--app-nav-border);
      background-color: var(--app-nav-background);
      display: grid;
      grid-template-rows: auto 1fr auto;
      padding: 1.4rem 1.6rem;
      border-radius: 1rem;
      height: 100%;

      .app-nav-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        text-align: center;
        padding: 0.6rem 0;

        h2 {
          background-color: var(--app-theme-background);
          border: 0.1rem solid var(--app-theme-border-colour);
          padding: 0.8rem;
          border-radius: 10rem;

          .material-symbols-outlined {
            font-size: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.2rem !important;
          }
        }

        .user-name {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          p {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.4rem;
          }

          small {
            font-weight: 600;
            line-height: 1.8rem;
          }
        }
      }

      .app-nav-body {
        padding: 3.8rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.6rem;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.4rem;
          gap: 0.8rem;
          color: var(--app-inactive-font);
        }

        .active-nav-link {
          color: var(--app-active-font);
        }
      }

      .app-nav-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2.2rem;
        padding: 1.8rem 1rem;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.4rem;
          gap: 0.8rem;
          cursor: pointer;
          color: var(--app-active-font);
        }

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          background-color: transparent;
          border: none;
          font-size: 1.4rem;
          gap: 0.8rem;
          cursor: pointer;
          color: var(--app-active-font);
        }

        .active-nav-link {
          color: var(--app-active-font);
        }
      }
    }
  }

  .app-body {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 870px) {
  .app-main-withNav {
    grid-template-columns: 100vw !important;
    grid-template-rows: 18rem calc(1fr - 18rem) !important;
    gap: 0 !important;
  }

  .app-nav-box {
    height: 6.4rem !important;
    padding: 0 !important;
    grid-row-start: 2;

    .app-nav {
      border: none !important;
      background-color: transparent !important;
      align-items: center !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      padding: 0 !important;
      border-radius: 1rem;
      height: 100% !important;

      .app-nav-head {
        display: none !important;
      }

      .app-nav-body {
        border: 0.1rem solid var(--app-theme-border-colour) !important;
        background-color: var(--app-theme-background) !important;
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        border-radius: 1.4rem 1.4rem 0 0;
        display: flex;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto;
        gap: 2.6rem;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 1.4rem;
          gap: 0.8rem;
        }

        .material-symbols-outlined {
          font-size: 2.6rem;
          color: rgb(51, 51, 51) !important;
        }

        .nav-menu-name {
          display: none;
        }

        .active-nav-link {
          .nav-menu-name {
            display: flex !important;
          }
        }
      }

      .app-nav-footer {
        display: none !important;
      }
    }
  }

  .app-body {
    height: calc(100vh - 6.4rem) !important;
    grid-row-start: 1;
    padding: 1.8rem;
  }
}
