<section class="login">
  <div class="set-01"></div>
  <div class="set-02">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <h3>Create your account</h3>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div>
        <mat-checkbox class="example-margin"
          >Agree with terms and conditions</mat-checkbox
        >
      </div>
      <button type="submit">Signup</button>
      <p>Already have account? <a (click)="loginRoute()">Login</a></p>
    </form>
  </div>
</section>
