<section class="login">
  <div class="set-01">
    <img src="./../../../assets/login.jpg" alt="Login Image" />
  </div>
  <div class="set-02">
    <header>
      <h2><span class="material-symbols-outlined"> wallet </span> Walrec</h2>
    </header>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div>
        <h3>Create your account</h3>
        <small>Welcome to wallet Recorder</small>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>
      <button type="submit" class="login-btn">Signup</button>
      <p class="or-txt">
        <span class="line"></span> Already have account?
        <span class="line"></span>
      </p>
      <button type="button" (click)="loginRoute()">Login</button>
    </form>
  </div>
</section>
