<section class="expense">
  <div class="expense-title">
    <h3>Budget</h3>
    <div class="title-btn-box">
      <button type="button" (click)="openPopupFn()">
        <p>Create</p>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </div>
  </div>

  <header class="set-01-header">
    <select name="payment" id="payment">
      <option value="" disabled selected>Payment Method</option>
      <option value="Cash">Cash</option>
      <option value="Credit Card">Credit Card</option>
      <option value="Debit Card">Debit Card</option>
      <option value="Bank Transfer">Bank Transfer</option>
      <option value="Digital Wallet">Digital Wallet</option>
    </select>
    <input
      type="text"
      id="dateInput"
      onfocus="this.type='date'"
      onblur="if(!this.value) this.type='text'"
      placeholder="From date"
    />
    <input
      type="text"
      id="dateInput"
      onfocus="this.type='date'"
      onblur="if(!this.value) this.type='text'"
      placeholder="To date"
    />
    <button type="button">
      <span class="material-symbols-outlined"> filter_alt </span>
    </button>
    <button type="button">
      <span class="material-symbols-outlined"> swap_vert </span>
    </button>
  </header>

  <div class="set-01-body">
    <div class="budget-card" *ngFor="let data of budgetList">
      <header class="budget-card-head">
        <div>
          <h3>{{ data.title }}</h3>
          <p>{{ data.fromDate }} - {{ data.toDate }} | {{ data.time }}</p>
        </div>
        <div class="head-info">
          <p class="budget-card-badge">{{ data.duration }} Months</p>
          <p class="budget-card-badge" (click)="editBudget(data)">
            <span class="material-symbols-outlined">edit</span>
          </p>
          <p class="budget-card-badge" (click)="deleteBudget(data)">
            <span class="material-symbols-outlined">delete</span>
          </p>
        </div>
      </header>
      <div class="budget-card-body">
        <div class="set-01">
          <h3>
            <span class="material-symbols-outlined"> account_balance </span>
            Bank Details
          </h3>
          <div>
            <p>
              <span>Name:</span> <span>{{ data.bank }}</span>
            </p>
            <p>
              <span>Charges:</span>
              <span>{{
                data.bankCharges | currency : "INR" : "symbol" : "2.0-2"
              }}</span>
            </p>
          </div>
        </div>
        <div class="set-02">
          <h3>
            <span class="material-symbols-outlined"> credit_card </span> Payment
            Details
          </h3>
          <div>
            <p>
              <span>Down Payment:</span>
              <span>{{
                data.downPay | currency : "INR" : "symbol" : "2.0-2"
              }}</span>
            </p>
            <p>
              <span>Interest:</span>
              <span>{{ data.interest }}%</span>
            </p>
            <p>
              <span>Monthly:</span>
              <span>{{
                data.amount | currency : "INR" : "symbol" : "2.0-2"
              }}</span>
            </p>
          </div>
        </div>
        <div class="set-03">
          <h3>
            <span class="material-symbols-outlined"> edit_note </span> Dates
          </h3>
          <div>
            <p>
              <span>Start Date:</span>
              <span>{{ data.fromDate }}</span>
            </p>
            <p>
              <span>End Date:</span>
              <span>{{ data.toDate }}</span>
            </p>
            <p>
              <span>Due Date:</span>
              <span>{{ data.dueDate }}</span>
            </p>
          </div>
        </div>
        <div class="set-04">
          <h3>
            <span class="material-symbols-outlined">info</span>
            Comment
          </h3>
          <p>{{ data.notes }}</p>
        </div>
        <div class="set-05">
          <div class="progress-field-header">
            <h3>
              <span class="material-symbols-outlined"> edit_note </span> Paid
              Months
            </h3>
            <div>
              <p>
                {{ data.paidMonths }} Months out of {{ data.duration }} Months
              </p>
            </div>
          </div>
          <progress
            id="paidMonths"
            [value]="data.paidMonths"
            [max]="data.duration"
          ></progress>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Budget Popup -->
<div class="expense-popup-box" *ngIf="openPopup">
  <div class="expense-popup">
    <div class="expense-popup-head">
      <h3>Add Expense</h3>
      <span class="material-symbols-outlined" (click)="closePopupFn()"
        >close</span
      >
    </div>
    <form class="grid-layout" [formGroup]="budgetForm">
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="label">Label</label>
          <input formControlName="label" type="text" name="label" />
        </div>
        <div class="flex-layout-fluid">
          <label for="title">Title</label>
          <input
            formControlName="title"
            type="text"
            name="title"
            placeholder="e.g., Nothing Phone, Recharge"
            required
          />
        </div>
      </div>
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="title">Bank Name</label>
          <input
            formControlName="bank"
            type="text"
            name="bank"
            placeholder="e.g., HDFC, ICIC"
            required
          />
        </div>
        <div class="flex-layout-fluid">
          <label for="bankCharges">Bank Charges</label>
          <input
            formControlName="bankCharges"
            type="number"
            name="bankCharges"
            required
          />
        </div>
        <div class="flex-layout-fluid">
          <label for="interest">Interest</label>
          <input
            formControlName="interest"
            type="number"
            name="interest"
            placeholder="e.g., 5000"
            required
          />
        </div>
      </div>
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="amount">Monthly</label>
          <input
            formControlName="amount"
            type="number"
            name="amount"
            placeholder="e.g., 15,000"
            required
          />
        </div>
        <div class="flex-layout-fluid">
          <label for="downPay">DownPayment</label>
          <input
            formControlName="downPay"
            type="number"
            name="downPay"
            placeholder="e.g., 5000"
            required
          />
        </div>
        <div class="flex-layout-fluid">
          <label for="date">Start</label>
          <input formControlName="fromDate" type="date" name="date" required />
        </div>
        <div class="flex-layout-fluid">
          <label for="duration">Duration</label>
          <input
            formControlName="duration"
            type="number"
            name="duration"
            placeholder="e.g., 5000"
            required
          />
        </div>
      </div>
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="date">End</label>
          <input formControlName="toDate" type="date" name="date" required />
        </div>
        <div class="flex-layout-fluid due-date-field">
          <label for="date">Due</label>
          <input
            formControlName="dueDate"
            type="date"
            name="date"
            [min]="getMinDate()"
            [max]="getMaxDate()"
            onkeydown="return false"
            required
          />
        </div>
        <div class="flex-layout-fluid">
          <label for="time">Payment Time</label>
          <input formControlName="time" type="time" name="time" required />
        </div>
        <div class="flex-layout-fluid">
          <label for="paidMonths">Months Paid</label>
          <input
            formControlName="paidMonths"
            type="number"
            name="paidMonths"
            required
          />
        </div>
      </div>
      <div>
        <label for="notes">Notes</label>
        <textarea
          formControlName="notes"
          name="notes"
          id="notes"
          placeholder="Ex. From ABC Bank"
        ></textarea>
      </div>
      <div class="btn-box">
        <button
          class="submit-btn"
          type="button"
          (click)="addBudget()"
          *ngIf="showSubmit"
        >
          Submit
        </button>
        <button
          class="submit-btn"
          type="button"
          (click)="updateBudget()"
          *ngIf="showUpdate"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
