.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  padding: var(--screen-padding);

  h3 {
    grid-column: span 4;
    font-weight: 700;
    font-size: 2rem;
  }

  .chart-cubes {
    border: 0.1rem solid #e3e5e2;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem 1.6rem;

    p {
      font-weight: 500;
      margin-bottom: 1rem;
      color: #848c93;
      font-size: 1.6rem;
    }

    h4 {
      text-align: center;
      font-size: 2.4rem;
      padding: 2rem 0;
      font-weight: 600;
    }
  }

  .chart-01,
  .chart-02 {
    grid-column: span 4;

    h3 {
      margin-bottom: 1rem;
    }

    div {
      border: 0.1rem solid #e3e5e2;
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
