.dashboard {
  display: grid;
  grid-template-columns: 1fr 36rem;
  gap: 2.4rem;
  padding: var(--screen-padding);

  .dashboard-charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;

    h3 {
      color: var(--chart-cubes-title);
      font-weight: 600;
      font-size: 1.6rem;
      padding: 0.4rem 1rem;
    }

    .chart-cubes {
      border: 0.1rem solid var(--chart-cubes-bdr);
      background-color: var(--chart-cubes-bg);
      border-radius: 1rem;
      padding: 1rem 1.6rem;

      p {
        font-weight: 500;
        margin-bottom: 1rem;
        color: var(--chart-cubes-title);
        font-size: 1.6rem;
      }

      h4 {
        text-align: center;
        font-size: 2.4rem;
        padding: 2rem 0;
        font-weight: 600;
      }
    }

    .chart-01,
    .chart-02 {
      border: 0.1rem solid var(--chart-cubes-bdr);
      background-color: var(--chart-cubes-bg);
      border-radius: 1rem;
      padding: 1rem;
      grid-column: span 3;
    }
  }
}
