<section class="component-box">
  <div class="title-bar">
    <h3>Expenses</h3>
    <div class="title-btn-box">
      <button type="button" (click)="categoryView()">
        <p>Categories</p>
        <span class="material-symbols-outlined"> category </span>
      </button>
      <button type="button" (click)="openPopupFn()">
        <p>Create</p>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </div>
  </div>

  <div class="category-list" *ngIf="showCategory">
    <h3>Categories</h3>
    <div>
      <p *ngFor="let data of paymentList">
        <span>{{ data.value }}</span>
        <ng-container *ngIf="data.creation != 'default'">
          <span
            class="material-symbols-outlined edit-icon edit-icon-bdr"
            (click)="editCategory(data)"
          >
            edit
          </span>
          <span
            class="material-symbols-outlined edit-icon"
            (click)="deleteCategory(data)"
          >
            delete
          </span>
        </ng-container>
      </p>
      <p class="add-icon" (click)="openCategoryPopupFn()">
        <span class="material-symbols-outlined"> add </span>
      </p>
    </div>
  </div>

  <header class="filter-bar">
    <select name="payment" id="payment">
      <option value="" disabled selected>Payment Method</option>
      <option value="Cash">Cash</option>
      <option value="Credit Card">Credit Card</option>
      <option value="Debit Card">Debit Card</option>
      <option value="Bank Transfer">Bank Transfer</option>
      <option value="Digital Wallet">Digital Wallet</option>
    </select>
    <input
      type="text"
      id="dateInput"
      onfocus="this.type='date'"
      onblur="if(!this.value) this.type='text'"
      placeholder="From date"
    />
    <input
      type="text"
      id="dateInput"
      onfocus="this.type='date'"
      onblur="if(!this.value) this.type='text'"
      placeholder="To date"
    />
    <button type="button">
      <span class="material-symbols-outlined"> filter_alt </span>
    </button>
    <button type="button">
      <span class="material-symbols-outlined"> swap_vert </span>
    </button>
  </header>

  <div class="table-box">
    <table>
      <thead>
        <tr>
          <th>
            <p>
              <span class="material-symbols-outlined"> calendar_today </span>
              Date & Time
            </p>
          </th>
          <th>
            <p>
              <span class="material-symbols-outlined"> titlecase </span> Title
            </p>
          </th>
          <th>
            <p>
              <span class="material-symbols-outlined"> attach_money </span>
              Amount
            </p>
          </th>

          <th>
            <p>
              <span class="material-symbols-outlined"> credit_card </span>
              Method
            </p>
          </th>
          <th>
            <p><span class="material-symbols-outlined"> edit </span> Actions</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="expenseList.length == 0">
          <td colspan="7" class="nodata">No Data Found</td>
        </tr>
        <tr *ngFor="let data of expenseList; let i = index">
          <td>{{ data.date }} | {{ data.time }}</td>
          <td>{{ data.title }}</td>
          <td>{{ data.amount | number : "1.2-2" : "en-IN" }}</td>
          <td>{{ data.payment }}</td>
          <td>
            <div class="td-box">
              <p class="td-btns">
                <span
                  class="material-symbols-outlined"
                  (click)="editExpense(data)"
                >
                  edit
                </span>
              </p>
              <p class="td-btns">
                <span
                  class="material-symbols-outlined"
                  (click)="deleteExpense(data)"
                >
                  delete
                </span>
              </p>
              <p class="count" [matTooltip]="data.notes">
                <span class="material-symbols-outlined"> error </span>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Expense Popup -->
<div class="popup-box" *ngIf="openPopup">
  <div class="expense-popup">
    <div class="expense-popup-head">
      <h3>Add Expense</h3>
      <span class="material-symbols-outlined" (click)="closePopupFn()"
        >close</span
      >
    </div>
    <form class="grid-layout" [formGroup]="expenseForm">
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="label">Label</label>
          <input formControlName="label" type="text" name="label" />
        </div>
        <div class="flex-layout-fluid">
          <label for="title">Title</label>
          <input
            formControlName="title"
            type="text"
            name="title"
            placeholder="e.g., Groceries, Rent"
            required
          />
        </div>
      </div>
      <div>
        <label for="amount">Amount</label>
        <div class="flex-layout">
          <select name="currency" id="currency" required>
            <option value="rupee">&#8377;</option>
          </select>
          <input
            formControlName="amount"
            type="number"
            name="amount"
            placeholder="e.g., 5000"
            required
          />
        </div>
      </div>
      <div class="flex-layout">
        <div class="flex-layout-fluid">
          <label for="date">Date of Expense</label>
          <input formControlName="date" type="date" name="date" required />
        </div>
        <div class="flex-layout-fluid">
          <label for="time">Time of Expense</label>
          <input formControlName="time" type="time" name="time" required />
        </div>
      </div>
      <div>
        <label for="payment">Payment Method</label>
        <div class="payment-method">
          <select formControlName="payment" name="payment" id="payment">
            <option *ngFor="let data of paymentList" [value]="data.value">
              {{ data.value }}
            </option>
          </select>
        </div>
      </div>
      <div>
        <label for="notes">Notes</label>
        <textarea
          formControlName="notes"
          name="notes"
          id="notes"
          placeholder="Ex. From ABC Bank"
        ></textarea>
      </div>
      <div class="btn-box">
        <button type="reset" class="reset-btn">
          <span class="material-symbols-outlined"> restart_alt </span>
        </button>
        <button
          class="submit-btn"
          type="button"
          (click)="addExpense()"
          *ngIf="showSubmit"
        >
          Submit
        </button>
        <button
          class="submit-btn"
          type="button"
          (click)="updateExpense()"
          *ngIf="showUpdate"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Category Popup -->
<div class="popup-box" *ngIf="openCategoryPopup">
  <div class="expense-popup">
    <div class="expense-popup-head">
      <h3>Add Expense Category</h3>
      <span class="material-symbols-outlined" (click)="closeCategoryPopup()"
        >close</span
      >
    </div>
    <form class="grid-layout" [formGroup]="categoryForm">
      <div>
        <label for="categoryName">Name</label>
        <input
          formControlName="categoryName"
          type="text"
          name="categoryName"
          placeholder="e.g., Shopping, Subscriptions"
          required
        />
      </div>
      <div class="btn-box">
        <button type="reset" class="reset-btn">
          <span class="material-symbols-outlined"> restart_alt </span>
        </button>
        <button
          type="button"
          class="submit-btn"
          (click)="createCategory()"
          *ngIf="showCategorySubmit"
        >
          Submit
        </button>
        <button
          type="button"
          class="submit-btn"
          (click)="updateCategory()"
          *ngIf="showCategoryUpdate"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
