@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --screen-padding: 1.8rem 2.2rem 1.4rem 0.6rem;
  --auth-screens-padding: 2rem;
  --border-colour: #e2c957;
  --background-colour: #ffe267;
  // Input
  --input-bdr-colour: #d8d8d8;
  --input-font-colour: #5e5e5e;
  --input-outline-colour: #e2c74b;
  --input-accent-colour: #ffe267;
  --input-focus-colour: #e2c957;
}

/* General input styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="time"] {
  border: 0.1rem solid var(--input-bdr-colour);
  outline-color: var(--input-outline-colour);
  color: var(--input-font-colour);
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

/* Focus effect */
input:focus {
  border-color: var(--input-focus-colour);
}

/* Checkboxes and radios accent color */
input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--input-accent-colour); /* Modern browsers */
}

/* Progress bar styling */
progress {
  border-radius: 10px;
  appearance: none;
}

/* Webkit browsers (Chrome, Edge) */
progress::-webkit-progress-bar {
  border: 0.1rem solid var(--input-bdr-colour);
  background-color: #efefef;
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background-color: var(--input-accent-colour);
  border-radius: 1rem;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #4caf50;
  border-radius: 1rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Quicksand", serif;
  font-size: 1.6rem;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
small,
label,
input,
a,
table,
button,
select {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
}

.mdc-label {
  margin-bottom: 0 !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}

input {
  width: 100%;
  height: 4rem;
  padding: 0 1.4rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

input[type="radio"] {
  height: auto !important;
  padding: 0 !important;
}

textarea,
select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.truncate-email {
  display: inline-block;
  max-width: 22ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
