@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Quicksand", serif;
  font-size: 1.6rem;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
small,
label,
input,
a,
table,
button,
select {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
}

.mdc-label {
  margin-bottom: 0 !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}

input {
  border: 0.1rem solid #d8d8d8;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #757575;
}

select {
  border: 0.1rem solid #d8d8d8;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  color: #757575;
}

textarea {
  border: 0.1rem solid #d8d8d8;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #757575;
}

.truncate-email {
  display: inline-block;
  max-width: 18ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-main-withNav {
  grid-template-columns: 28rem calc(100vw - 28rem);
}

.app-main-noNav {
  grid-template-columns: 100vw;
}

.app-main {
  height: 100vh;
  display: grid;

  .app-nav {
    background-color: #f3f5f7;
    border-right: 0.1rem solid #e3e5e2;
    display: grid;
    grid-template-rows: 5rem 1fr 6rem;
    padding: 1.4rem 1.6rem;

    .app-nav-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .user-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .material-symbols-outlined {
          font-size: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.2rem !important;
        }

        .user-name {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          p {
            font-weight: 700;
            line-height: 1.4rem;
          }

          small {
            font-weight: 600;
            line-height: 1rem;
          }
        }
      }

      .edit-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        text-decoration: none;
        overflow: hidden;

        .material-symbols-outlined {
          font-size: 2.4rem;
          color: #000000;
        }
      }
    }

    .app-nav-body {
      p {
        margin-top: 2.2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        color: #848c93;
        text-transform: uppercase;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.6rem;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          font-weight: 600;
          color: #28313e;
          gap: 0.8rem;
        }
      }
    }

    .app-nav-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        font-weight: 600;
        color: #28313e;
        font-size: 1.4rem;
        gap: 0.8rem;
        cursor: pointer;
      }
    }
  }

  .app-body {
    overflow-y: auto;
  }
}
